<!DOCTYPE html>
<html>

<head>
    <title>{{ username }}'s Tweets on {{ date }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="lib/images/dark.png" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/lib/css/style.css">
    <link rel="stylesheet" href="/lib/css/result.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"
        defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
        defer></script>

    <script sync src="https://platform.twitter.com/widgets.js"></script>

    <script src="lib/js/result.js" defer></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="lib/images/dark.png" alt="TR" width="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/"> Create A Rewind </a>
                <a class="nav-item nav-link" href="about.html">About Tweet Rewind<span class="sr-only">(current)</span></a>
            </div>
        </div>
    </nav>
    
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1><b>{{username}}</b>'s Tweets from {{date}}</h1>
        </div>
        <hr class="my-4">
        <div id="jumbotron-buttons">
            <small>Share:</small>
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" 
                data-size="small" 
                data-show-count="false">
            </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <a class="btn btn-primary btn-small" href="/" role="button"> Create A Rewind </a>
            </div>
        
       
    </div>

    <div id="tweetIds" style="display: none"> {{ toJSON tweets }} </div>
    <div id="result">
    </div>

     <div class="btn-group dropup" id="nav-button">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-arrow-up"></i>
        </button>
        <div class="dropdown-menu">
            <h6 class="dropdown-header">Years</h6>
            <!-- Dropdown menu links -->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Top</a>
        </div>
    </div>

    <footer class="page-footer font-small blue">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <p><small>Created By: <a href="http://twitter.com/thealexlittle_">@thealexlittle_</a></small></p>
            <p><small> <a href="about.html">More info</a></small></p>
        </div>
        <!-- Copyright -->

    </footer>

</body>

</html>